--- 
title: "A long list of colors that work with black and white" 
layout: "base.njk" 
permalink: "/" 
---
<style>
    html {
        margin: 0;
        border-top: .125em solid #fff;
    }
    * {
        box-sizing: border-box;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        clear: both;
    }
    li {
        background-image: linear-gradient(to right, var(--c1), var(--c2) );
    }
    a {
        display: block;
        color: #000;
        padding: 1.5em;
        border-width: .125em;
        border-style: solid;
        border-color: transparent;
        color: #fff;
        outline:none;
        width: 100%;
    }
    a:focus {
        border-color: #fff !important;
        text-decoration: none;
    }
    p > a {
        clear: both;
        float:none;
        display: inline-block;
        width: auto;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    p {
        display: inline-block;
        width: 100%;
        clear: both;
        float:none;
        margin: 2.631578947% 0 0;
    }
</style>
<header>
    <h1>colors.fyi</h1>
</header>
<main>
    <ul role="list">
        {% for key, colors in sortedColors %}
            <li style="background-color:#{{colors|first}};--c1:#{{colors|first}};--c2:#{{colors|last}};">
                <a href="/{{key}}/">
                    <u>
                        {{key}}
                    </u>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
<footer>
    <p>This big weird site, is a list of all the colors, that meet WCAG AA criteria for contrast with black and white</p>
    <p><a href="https://ericmikkelsen.com/">
        <u>
        Made by Eric Mikkelsen
        </u>
        </a></p>
</footer>