--- 
title: "Simple Color Converter with 11ty Serverless" 
layout: "base.njk" 
permalink: "/" 
---
<style>
    h1 {
        font-size: 1.1875em;
        margin: 0;
        padding: 5.263157894% 0;
    }
    html {
        font-family: sans-serif;
        font-size: 1em;
        margin: 0;
        padding: 0 5% 4em;
        border-top: .125em solid #fff;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    * {
        box-sizing: border-box;
    }
    body {
        background: #000;
        color: #fff;
        margin: 0 auto;
        padding: 0;
    }
    h1 {
        font-size: 1.1875em;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        clear: both;
    }
    li {
        background-image: linear-gradient(to right, var(--c1), var(--c2) );
    }
    a {
        display: block;
        color: #fff;
        padding: 1.25em 2.631578947%;
        border-width: .125em;
        border-style: solid;
        border-color: transparent;
        outline:none;
        width: 100%;
    }
    a:focus {
        border-color: #fff !important;
        text-decoration: none;
    }
    p > a {
        clear: both;
        float:none;
        display: inline-block;
        width: auto;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    p {
        display: inline-block;
        width: 100%;
        clear: both;
        float:none;
        margin: 2.631578947% 0 0;
    }
</style>
<header>
    <h1>colors.fyi</h1>
</header>
<ul role="list">
    {% for key, colors in sortedColors %}
        <li style="background-color:#{{colors|first}};--c1:#{{colors|first}};--c2:#{{colors|last}};">
            <a href="/{{key}}/">{{key}}</a>
        </li>
    {% endfor %}
</ul>

<p>This big weird site, is a list of all the colors, that meet WCAG AA criteria for contrast with black and white</p>
<p><a href="https://ericmikkelsen.com/">Made by Eric Mikkelsen</a></p>