--- 
layout: base.njk 
pagination: 
  data: sortedColors
  size: 1
  alias: color
permalink: "/{{ pagination.items[0]}}/index.html"
---
<style>
  html {
    border-top-color: #{{sortedColors[color][0]}};
  }
  * {
    box-sizing: border-box;
  }
  
  ol {
    display: inline-block;
    width: 100%;
    background-color: #{{sortedColors[color][0]}};
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
  li {
    color: #000;
    color: #fff;
    padding: 1.5em;
    max-width: 100%;
    height: 4.15625em;
    width: 12em;
    float: left;
    margin: 0;
    contain:strict;
  }
  li::marker {
    color: #000;
  }
  .home {
    display:inline;
    padding:0;
    color: inherit;
    text-decoration: none;
    border-bottom: .125em solid #fff;
  }
  h1 span {
    color: #{{sortedColors[color][0]}};
    font-weight: normal;
  }
  .top {
    background:#000;
    box-shadow: 0 -.5em 2em rgba(0,0,0,.5);
    color: #{{sortedColors[color][0]}};
    contain: strict;
    display: inline-block;
    font-size: 1.1875em;
    height: 3em;
    margin-top: -3em;
    left: 0;
    padding: 1em 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 100%;
    width: 100%;
    z-index: 2;
  }
  @supports(top: 100dvh){
    .top {
      top: 100dvh;
    }
  }
  :-o-prefocus, footer a {
    font-size: 1.1875em;
    text-align: center;
    display: block;
    padding: 1em 0;
  }
</style>
<header>
  <h1 id="title"><a href="/" class='home'>colors.fyi</a> <span>/ {{color}}</span></h1>
  <a href="#top" class="top">
    <u>
      Back to top
    </u>
  </a>
</header>
<main>
  <ol role="list">
    {% for color in sortedColors[color] %}<li style='background:#{{color}}'>#{{ color }}</li>{% endfor -%}
  </ol>
</main>
<footer>
  <a href="top" hidden>Back to top</a>
</footer>