html {
    background: #000;
    color: #fff;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: sans-serif;
    font-size: 1em;
    border-top: .125em solid #000;
}
html,body {
    margin: 0;
    padding: 0;
}
/* https://bugs.webkit.org/show_bug.cgi?id=84186#c17 */
body * {
    max-height:1000000px;
}
header, footer {
    width: 40em;
    max-width: 100%;
    min-width: 90%;
    margin: 0 auto;
    padding: 1.5em;
    border-width: .125em;
    border-style: solid;
    border-color: transparent;
}
u {
    text-decoration: none;
    border-bottom: .125em solid;
}
header {
    margin-top: 5%;
}
footer {
    margin-bottom: 5%;
}
main {
    width: 40em;
    max-width: 100%;
    min-width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 1.1875em;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}